:root {
  /* Primary */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Sizes */
  --main-margin-top: calc((100vh - var(--main-height)) / 2);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--very-dark-grayish-blue);
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(var(--soft-violet) 40%, var(--soft-blue));
  background-repeat: no-repeat;
  background-size: 100%;
}

main {
  display: grid;
  place-items: center;
  grid-template-rows: calc(var(--img-height) - 19vw) 1fr;
  /* padding-block-start: var(--main-margin-top);
  padding-block-end: var(--main-margin-top); */
  box-sizing: border-box;
}

.heading-img {
  position: relative;
  width: min(62%, 400px);
  aspect-ratio: 1 / 0.76;
  top: 35%;

  &::before {
    content: "";
    position: absolute;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-size: cover;
    align-self: center;
    width: 100%;
    aspect-ratio: 1 / 0.76;
    z-index: 1;
    filter: drop-shadow(0px 30px 0px hsl(245, 60%, 96%));
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(./images/illustration-box-desktop.svg);
    background-size: cover;
    width: 40%;
    aspect-ratio: 1 / 0.964;
    inset-block-end: 12%;
    inset-inline-start: -2%;
    z-index: 1;
  }
}

.faq-container {
  position: relative;
  width: min(88%, 500px);
  background-color: white;
  border-radius: 25px;
  padding-inline: 28px;
  padding-block: 50px;
  box-sizing: border-box;
  box-shadow: 0px 25px 60px 5px hsl(255.52deg 100% 9.13% / 34%);
}

.accordion {
  position: relative;
  width: 100%;
  margin-top: min(21vw, 150px);

  & h1 {
    text-align: center;
  }

  & .accordion-item {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--light-grayish-blue);
      z-index: 2;
    }

    & h3 {
      font-weight: 400;
      font-size: 0.82rem;
      margin-block: 18px;
    }

    & p {
      font-size: 0.77rem;
      line-height: 1.2rem;
      margin-block: 0px 20px;
      color: var(--dark-grayish-blue);
    }
  }

  & .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    transition: font-weight 0.3s;

    &.active {
      color: var(--very-dark-desaturated-blue);
      font-weight: 700;
      transition: font-weight 0s;
    }

    & img {
      transform: rotateZ(0deg);
      transition: all 0.3s;
    }

    & img.active {
      transform: rotateZ(180deg);
      transition: all 0.3s;
    }
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;

  &.active {
    max-height: 150px;
    transition: all 0.8s ease;
  }
}

@media screen and (max-height: 850px) {
    main {
        margin-block: 50px;
    }
}